--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
FlagEmbedding
docling
fastapi
uvicorn[standard]
python-dotenv
pydantic
pandas
astrapy
bcrypt
boto3
email-validator
requests
py-toon-format
ollama
gunicorn
langchain
numpy
PyMuPDF
python-docx
Pillow
aiohttp
langchain-core
langchain-text-splitters
langchain-astradb
langchain-huggingface
sentence-transformers
ragas
datasets
