--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
FlagEmbedding
fastapi
uvicorn[standard]
python-dotenv
pydantic
pandas
astrapy
bcrypt
email-validator
requests
gunicorn
langchain
numpy
PyMuPDF
python-docx
aiohttp
langchain-core
langchain-text-splitters
langchain-astradb
langchain-huggingface
sentence-transformers
ragas
datasets